.body{
    -fx-background-color: white;
}

.main-carte{
    -fx-background-color: #4DABF5;
    -fx-padding: 10px;
    -fx-background-radius: 12px
}
.lbl{
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.btn{
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px
}

.titre{
    -fx-background-color: #4DABF5;
    -fx-alignment: center;
}

.lblTitre{
    -fx-text-fill: white;
    -fx-font-size: 30px
}